.App {
  text-align: center;
  height: 100%;
}

.sidebar {
  display: flex;
}

.sidebar__sidebar {
  width: 30%;
}

.sidebar__main {
  /* Take the remaining width */
  background-color: yellow;
  flex: 1;

  /* Make it scrollable */
  overflow:hidden;
}

.split-screen {
  display: flex;
}

.split-screen__half {
  flex: 1;
}
